body
{
  background-color: black;
  margin-top: 0px;
  border-top: 0px;
  background-attachment: fixed;
}

img{
margin-top: 0px;
position:static;
float: right;
}

.navbar
{
  margin-top: 100px;
  width: 100%;
}


.collapse navbar-collapse
{
  display: block;
}

ul {
margin-right: 2%;
}

.corpConnex{

}
label{
  color:white;
}

.btConnexion {
  border-radius: 5px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.3s;
  float: left;
  color: black;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
.btConnexion:before {
  height: 30px;
  border-radius: 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5FBB54;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btConnexion:hover, .btConnexion:focus, .btConnexion:active {
  color: white;
  text-decoration: none;
}
.btConnexion:hover:before, .btConnexion:focus:before, .btConnexion:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
